@page "/map-circle-list"
@using Microsoft.AspNetCore.Components
@using GoogleMapsComponents
@using GoogleMapsComponents.Maps
@using GoogleMapsComponents.Maps.Coordinates
@using GoogleMapsComponents.Maps.Extension

<h1>Google Map Circle List</h1>

<AdvancedGoogleMap @ref="@_map" Id="map1" Options="@_mapOptions"></AdvancedGoogleMap>

<EditForm Model="new object()">
  Bunch size: <InputNumber TValue="int" @bind-Value="_bunchsize" /><br />
  <button @onclick="CreateBunchOfCircles">Add a bunch of circles</button><br />
    <button @onclick="CreateBunchOfPolygon">Add a bunch of Polygons</button><br />
    <button @onclick="RemoveBunchOfPolygon">Remove Polygons</button><br />
    <button @onclick="RemoveBunchOfCircles">Remove Circles</button><br />
  <p>Click on a circle to remove it.</p><br />
</EditForm>
